<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aftertomorrow.dao.mapper.ArticleMapper">
    <select id="findArticleById" parameterType="Integer" resultType="article">
		select *
		from article
		where id=#{id}
	</select>
    <insert id="addArticle" parameterType="article">
		insert into
		article(title,summary,text,code,tag,time,status,keywords)
		values(#{title},#{summary},#{text},#{code},#{tag},#{time},#{status},#{keywords})
	</insert>
    <update id="editArticle" parameterType="article">
        update article
        <trim prefix="set" suffixOverrides=",">
            <if test="title != null and title != ''">
                title=#{title},
            </if>
            <if test="text != null and text != ''">
                text=#{text},
            </if>
            <if test="summary != null and summary != ''">
                summary=#{summary},
            </if>
            <if test="code != null and code != ''">
                code=#{code},
            </if>
            <if test="tag != null and tag != ''">
                tag=#{tag},
            </if>
            status=#{status},
            <if test="keywords != null and keywords != ''">
                keywords=#{keywords}
            </if>
        </trim>
        where id=#{id}
    </update>
    <delete id="deleteArticle">
        delete
        from article
        where id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <select id="listAll" resultType="article">
		select *
		from article
		order by id desc
	</select>
    <select id="listAllWithStatus" resultType="article">
		select *
		from article
		where status=1
		order by id desc
	</select>
    <select id="listAllWithTag" resultType="article">
		select
		a.*,t.unicode,t.name
		from article a, tag t
		where a.tag like concat("%",t.name,"%") and status=1
		order by id desc
	</select>
    <select id="findByPage" parameterType="page" resultType="article">
		select *
		from article
		where status=1
		order by id desc
		limit #{start},#{size}
	</select>
    <select id="getArticleSize" resultType="int">
		select count(1)
		from article
		where status=1
	</select>
    <select id="searchByKeywords" parameterType="String" resultType="article">
		select id,title
        from article
        where Match(title,text) Against(concat('"',#{keywords},'"') IN BOOLEAN MODE)
        order by Match(title,text) Against(concat('"',#{keywords},'"') IN BOOLEAN MODE) desc;
	</select>
    <update id="addArticleViewCount" parameterType="Integer">
		update article set view = view + 1
		where id=#{id}
	</update>
</mapper>